body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

.prodbox {
    display: flex;
    justify-content: center;
    margin-top:120px;
    height: 450px;
    /* width: 600px; */
    /* align-items: flex-start; */
    overflow: hidden;

}


.product, .description {
    /* flex: 0 0 300px; */
    /* align-self: center; */
    /* justify-content: center; */
    overflow: hidden;
}

.description {
    background-color: white;
    width: 300px;
    height: 450px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.product img{
    /* height: auto; */
    /* width: 100%; */
    /* display: flex; */
    /* justify-self: center;      */
    border-top-left-radius:15px;
    border-bottom-left-radius: 15px;
}

header {
    padding-top: 20px;
    letter-spacing: 4px;
    font-family: Montserrat;
    /* font-weight: 500; */
    color: hsl(212, 21%, 14%);
    font-size: 12px;
}

h1 {
    font-weight: 700;
    font-size: 35.5px;
    padding-top:15px;
    padding-bottom: 15px;
    margin: 0;
    word-spacing: -2px;
    line-height: 1;
    color: hsl(212, 21%, 14%);
}

.desc{
    margin: 0;
    font-size: 15px;
    word-spacing: 1px;
    line-height: 1.75;
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}

.price {
    color: hsl(228, 12%, 48%);

}

h2 {
    color: hsl(158, 36%, 37%);
}

.product img{
    width: 300px;
    height: 450px;
}

.adding {   
    background-color: hsl(158, 36%, 37%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

a:hover {
    background-color:hsl(157, 37%, 19%);
}

.cart {
    margin: 10px;
    margin-left: 50px;
}

.add {
    color: white;
    font-family: Montserrat;
    font-weight: 500;
}

.pp {
    display: flex;
    align-items: center;
}

.price {
    text-decoration: line-through;
    font-family: Montserrat;
    margin-left: 20px;
    font-size: 0.9em;
}

h2 {
    font-family: Fraunces;
    font-weight: 700;
    font-size: 2.2em;
}


h1 {
    font-family: Fraunces;
    font-weight: 700;
}

p {
    font-family: Fraunces;
}

@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('woff2');
}

@font-face {
    font-family: 'Fraunces';
    src: url('fonts/Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('woff2');
}